@charset "utf-8";

/*@import "./baymax_eyes.css";*/
@import "baymax_eyes_active.css";

body {
    background: #595959;
}

#baymax {
    /*
    margin: 0 auto; 表示居中;
    margin: 边缘的意思
    margin:10px 5px 15px 20px; #表示：上边距是 10px; 右边距是 5px; 下边距是 15px; 左边距是 20px
    auto: 浏览器计算外边距。
    */
    margin: 0 auto;

    /*高度*/
    height: 600px;

    /*
    如果元素中的内容超出了给定的宽度和高度属性，overflow 属性可以确定是否显示滚动条等行为;
    隐藏溢出
    */
    overflow: hidden;
}

#head {
    margin: 0 auto;
    margin-top:100px;
    height: 64px;
    width: 100px;

    /*以百分比定义圆角的形状， 其数值有三种：px、%、em
    px: 以该值px为半径画圆；
    % : 将宽/高乘以百分数换算
    border-radius:2em;    // is equivalent to:
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
    */
    border-radius: 50%;

    /*背景*/
    background: white;

    /*设置元素的下边距, 其他的如,
    margin-top:0;
    */
    margin-bottom: -20px;

    /*设置下边框的样式,除此还有：
    border-top:1px solid red;
	border-left:2px solid red;
	border-right:2px solid red;
    */
    border-bottom: 5px solid #e0e0e0;

    /*设置元素的堆叠顺序；
    该值越大的元素越会被堆叠到最上面*/
    z-index: 100;

    /*生成相对定位的元素*/
    position: relative;
}

#mouth {
    width: 38px;
    height: 1.5px;
    /*border:1px solid black;*/
    background: #282828;

    position: relative;
    left: 34px;
    top: 10px;
}

/*===================躯干===================*/
#torso {
    margin: 0 auto;
    height: 200px;
    width: 180px;
    border-radius: 47%;
    background: #fff;

    /*设置边框*/
    border: 5px solid #e0e0e0;
    border-top: none;
    /*z-index: 1;*/
}

#heart {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;

    /*向边框四周添加阴影效果*/
    box-shadow: 2px 5px 2px #ccc inset;

    right: -115px;
    top: 40px;
    z-index: 111;
    border: 1px solid #ccc;
}

/*===================肚子===================*/
#belly {
    margin: 0 auto;
    margin-top: -140px;
    height: 300px;
    width: 245px;
    border-radius: 47%;
    background: #fff;

    border: 5px solid #e0e0e0;
    border-top: none;
    /*z-index: 5;*/
}


/*修饰躯干与腹部之间重叠的部分*/
/*#cover {
/*    margin: 0 auto;*/
/*    width: 185px;*/
/*    height: 150px;*/
/*    background: #fff;*/
/*    */
/*    position: relative;*/
/*    top: -20px;*/
/*    border-radius: 50%;*/
/*}*/

#cover {
    margin: 0 auto;
    width: 180px;
    height: 80px;
    background: #fff;
    position: relative;
    border-radius: 50%;
}

/*===================手臂===================*/
#left-arm,
#right-arm {
    margin: 0 auto;
    height: 270px;
    width: 120px;
    transform: rotate(20deg);
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -350px;
    left: -100px;
    z-index: -1;
}

#right-arm {
    transform: rotate(-20deg);
    left: 100px;
    top: -620px;
}

/*===================手指===================*/
#l-bigfinger,
#r-bigfinger {
    height: 50px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(-50deg);
    background: #fff;
    position: relative;
    top: 250px;
    left: 50px;
}

#r-bigfinger {
    left: 50px;
    transform: rotate(50deg);
}

#l-smallfinger,
#r-smallfinger {
    height: 35px;
    width: 15px;
    border-radius: 50%;
    transform: rotate(-40deg);
    background: #fff;
    position: relative;
    top: 195px;
    left: 66px;
}

#r-smallfinger {
    background: #fff;
    transform: rotate(40deg);
    top: 195px;
    left: 37px;
}

/*===================双腿===================*/
#left-leg,
#right-leg {
    height: 170px;
    width: 90px;
    border-radius: 40% 30% 10px 45%;
    background: #fff;
    position: relative;
    top: -640px;
    left: -45px;
    transform: rotate(-1deg);
    z-index: -2;
    margin: 0 auto;
}

#right-leg {
    background: #fff;
    border-radius: 30% 40% 45% 10px;
    margin: 0 auto;
    top: -810px;
    left: 50px;
    transform: rotate(1deg);
}
